@import 'tailwindcss';

@theme {
	/* yellow */
	--color-mistral-bg-yellow: rgb(255, 250, 235);
	--color-mistral-yellow-1: #fff0c3;
	--color-mistral-yellow-2: #ffe295;
	--color-mistral-yellow-3: #ffdd8a;
	--color-mistral-yellow-4: #ffd06a;
	--color-mistral-yellow-5: #ffc452;
	--color-mistral-yellow-6: #ffb83e;
	--color-mistral-yellow-7: #ffad2e;
	--color-mistral-yellow-8: #ffa110;
	--color-mistral-yellow-9: #f2920b;
	--color-mistral-yellow-10: #ff9500;
	--color-mistral-yellow-11: #ff8a00;

	/** orange **/

	--color-mistral-orange: #fa520f;

	/** footer **/
	--color-mistral-footer-band-1: #fff0c2;
	--color-mistral-footer-band-2: #ffd900;
	--color-mistral-footer-band-3: #ffae00;
	--color-mistral-footer-band-4: #ff8205;
	--color-mistral-footer-band-5: #fa520f;
	--color-mistral-footer-band-6: #e00400;

	/* text */
	--color-mistral-text-1: rgb(31, 31, 31);
}
