@import 'tailwindcss';

@theme {
	/* yellow */
	--color-mistral-bg-yellow: rgb(255, 250, 235);
	--color-mistral-yellow-1: #fff0c3;
	--color-mistral-yellow-2: #ffe295;
	--color-mistral-yellow-3: #ffdd8a;
	--color-mistral-yellow-4: #ffd06a;
	--color-mistral-yellow-5: #ffc452;
	--color-mistral-yellow-6: #ffb83e;
	--color-mistral-yellow-7: #ffad2e;
	--color-mistral-yellow-8: #ffa110;
	--color-mistral-yellow-9: #f2920b;
	--color-mistral-yellow-10: #ff9500;
	--color-mistral-yellow-11: #ff8a00;

	/** orange **/

	--color-mistral-orange: #fa520f;

	/* borders */
	--color-mistral-border-1: #ecdaa2;

	/** footer **/
	--color-mistral-footer-band-1: #fff0c2;
	--color-mistral-footer-band-2: #ffd900;
	--color-mistral-footer-band-3: #ffae00;
	--color-mistral-footer-band-4: #ff8205;
	--color-mistral-footer-band-5: #fa520f;
	--color-mistral-footer-band-6: #e00400;

	/* text */
	--color-mistral-text-1: rgb(31, 31, 31);
	--color-mistral-text-brown: #6e370f;

	/* heights */
	--model-card-max-height: calc(85dvh - 230px);

	--delay: 0ms;

	/* keyframes */
	--animate-blink-twice: animate-blink-twice 350ms linear;
	--animate-cta-letter: animate-cta-letter 150ms linear;
	--animate-tab-content-in: animate-tab-content-in 400ms ease-in-out;
	--animate-tab-content-out: animate-tab-content-out 400ms ease-in-out;
}

@keyframes animate-cta-letter {
	0%,
	50% {
		opacity: 0;
	}

	51%,
	100% {
		opacity: 1;
	}
}

@keyframes animate-tab-content-in {
	0% {
		transform: translateX(-5%);
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes animate-tab-content-out {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		transform: translateX(5%);
		opacity: 0;
	}
}

@keyframes animate-blink-twice {
	0%,
	49%,
	75%,
	90% {
		opacity: 0;
	}
	50%,
	100% {
		opacity: 1;
	}
}
